.about-preview{
    padding:90px 0;
    background:#fff;
}

.about-preview-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.tag{
    color:#8aa08a;
    letter-spacing:3px;
    font-size:12px;
    margin-bottom:18px;
}

.about-text h2{
    font-size:52px;
    margin-bottom:25px;
    color:#244b37;
}

.about-text h2 span{
    font-style:italic;
    font-weight:300;
}

.description{
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.about-text button{
    padding:14px 28px;
    border:1px solid #2f5d34;
    background:white;
    cursor:pointer;
    border-radius:8px;
}

.about-text button:hover{
    background:#2f5d34;
    color:white;
}

.about-image img{
    width:100%;
    border-radius:16px;
    display:block;
}

.btn-primary {
    display: inline-block;
    background: #2f5d34;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 14px rgba(47, 93, 52, 0.3);
}